.mainCatDescriptionSellDiv{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    width: 50%;
    padding-bottom: 20px;
    margin: 20px auto;
}
.SelectedACat h4{
    padding: 15px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
.formCreation{
    padding: 15px 10px 10px 40px;
}
.paddingLeft{
    padding-left: 60px;
}

.changeLink:hover{
    text-decoration: none !important;
}
.Condition{
    border: 1px solid rgb(0, 43, 46);
    width: 60px;
    padding: 5px;
    text-align: center;
    color: rgb(0, 43, 46);
    border-radius: 5px;
    font-size: 14px;
    margin-right: 7px;
    cursor: pointer;
}
.Condition:hover{
    color: rgb(0, 184, 197);
    border: 1px solid rgb(0, 184, 197);
    background-color: rgba(110, 215, 223,.3);
}

.inputTitle:focus{
    border:4px solid rgb(0, 43, 46) !important;
    outline:none;
}
.priceRS{
    font-size: 14px;
    color: gray;
    margin-right: -75px;
    margin-top: 15px;
    border-right:1px solid black ;
    padding-right: 10px;
}
.postBtn:hover{
    background-color: white !important;
    color: rgb(0, 43, 46) !important;
}
.postBtn:focus{
    outline: none;
}
.disabled{
    cursor: not-allowed;
}
.disabled:hover{
    background-color: gray !important;
    color: white !important;
}







@media(max-width:800px){
    .mainCatDescriptionSellDiv{

        width: 95%;
    }
    .formCreation{
        padding: 5px 3px 5px 5px;
    }
    .inputTitle{
        width: 100% !important;
    }
    /* #UserImgDiv{
        width: 30%;
    }
    #UserImgDiv img{
        width: 100%;
        height: 100%;
    }
    #UserDescDiv{
        width: 80%;
    }
    #UserDescDiv p{
        width: 100% !important;
    } */
}

@media(max-width:450px){
    #UserImgDiv{
        width: 30%;
    }
    #UserImgDiv img{
        width: 100%;
        height: 100%;
    }
    #UserDescDiv{
        width: 80%;
    }
    #UserDescDiv p{
        width: 100% !important;
    }
}