.nav-link2{
    background-color: transparent !important;
    font-size: 14px;
    font-weight: 700 !important;
    font-weight: 600;
    color: rgb(0, 43, 46) !important;
    margin-top: -2px !important;
}

.btn-secondary:focus{
    outline: none;
}
.flex{
    display: flex;
    padding-left: 190px;
    z-index: 2;
    box-shadow: 0 0 3px .1px rgb(209, 209, 209);
    margin-top: -4px !important;
}
.CatUl{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.CatUl li{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(0, 43, 46) !important;
    letter-spacing: -.2px;
    cursor: pointer;
}
.CatUl li:hover{
    color:rgb(0, 168, 180)  !important;
}
.lineKhatam{
    padding: 0px !important;
    margin: 0px !important;
}
.lineKhatam:hover{
    text-decoration: none !important;
    
}
.arrowDown{
    margin-left: 5px;
}
.All_Categories{
    color:rgb(0, 43, 46) ;
    text-align: center;
}
.dropdown-menu3{
    width: 300px !important;
    padding: 10px !important;
    margin-top: 4px !important;
    border: none !important;
    box-shadow: 0 0 5px 1px rgb(199, 199, 199) !important;
    z-index: 1 !important;
}
.dropdown-menu ul li{
    list-style-type: none;
    color:  rgb(0, 43, 46);
    margin-left: -10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dropdown-menu ul li:hover{
    color:rgb(0, 168, 180)  !important;
}



@media screen and (max-width: 900px) {
    .flex{
        display: flex;
        padding-left: 0px;
        z-index: 2;
    }
    .CatUl{
        display: none
    }
    .nav-link2{
        font-size: 17px;
        margin-top: 2px !important;
    }
    .dropdown-menu3{
        margin-top: 0px !important;
    }
    
    
}